<div class="slider">
  <%= image_tag(image_path 'slides/1.jpg', :class => 'slide') %>
  <%= image_tag(image_path 'slides/2.jpg', :class => 'slide') %>
  <%= image_tag(image_path 'slides/3.jpg', :class => 'slide') %>
  <%= image_tag(image_path 'slides/4.jpg', :class => 'slide') %>
</div>
<br><h2 align="center"> Эксклюзивные условия на покупку новых автомобилей </h2><br>
<ul class="cars_list">
<% @fav.each do |i| %>
    <%if i.fav %>
      <li><a class="card_car" href="/course_work/watch?param=<%= i.id %>"><%= image_tag(i.image, :class => 'poster_car') %><p class="title_car"><%= i.brand.name %> <%= i.model %></p><p class="body_type"><%= i.body.name %></p><p class="price">от <%= number_to_currency((i.price).to_i, delimiter: " ", precision: 0, format: "%n  ₽") %></p><p class="nalog_info">Рекомендуемая розничная цена вкл.20% НДС.</p></a>

<div class="hide_block"><a href="/course_work/watch?param=<%= i.id %>" class="btn_more more" style="
"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="400px" height="400px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve" class="mdl-js">
<g>
	<g>
		<path d="M199.995,0C89.716,0,0,89.72,0,200c0,110.279,89.716,200,199.995,200C310.277,400,400,310.279,400,200    C400,89.72,310.277,0,199.995,0z M199.995,373.77C104.182,373.77,26.23,295.816,26.23,200c0-95.817,77.951-173.77,173.765-173.77    c95.817,0,173.772,77.953,173.772,173.77C373.769,295.816,295.812,373.77,199.995,373.77z"></path>
		<path d="M279.478,186.884h-66.363V120.52c0-7.243-5.872-13.115-13.115-13.115s-13.115,5.873-13.115,13.115v66.368h-66.361    c-7.242,0-13.115,5.873-13.115,13.115c0,7.243,5.873,13.115,13.115,13.115h66.358v66.362c0,7.242,5.872,13.114,13.115,13.114    c7.242,0,13.115-5.872,13.115-13.114v-66.365h66.367c7.241,0,13.114-5.873,13.114-13.115    C292.593,192.757,286.72,186.884,279.478,186.884z"></path>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg><span class="txt">Подробнее</span></a><a href="/course_work/watch?param=<%= i.id %>&getorder" class="btn_more configure" style="
"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Ebene_1" x="0px" y="0px" viewBox="0 0 70 60" enable-background="new 0 0 70 60" xml:space="preserve" class="mdl-js">
<path fill="#FFFFFF" d="M65.7,16.9l4.4-0.8l0-3.8l-4.4-0.8l-1-2.5l2.6-3.7l-2.7-2.7l-3.7,2.6l-2.5-1L57.7,0L54,0l-0.8,4.4l-2.5,1  l-3.7-2.6l-2.7,2.7L47,9.2l-1,2.5l-4.4,0.8l0,3.8l4.4,0.8l1,2.5L44.4,23l2.7,2.7l3.7-2.6l2.5,1l0.8,4.4h3.8l0.8-4.4l2.5-1l3.7,2.6  l2.7-2.7l-2.6-3.7L65.7,16.9z M56.1,19.8c-3,0-5.4-2.4-5.4-5.4c0-3,2.4-5.4,5.4-5.4c3,0,5.4,2.4,5.4,5.4  C61.5,17.4,59.1,19.8,56.1,19.8z M36.5,46.4l2,2.9H16.7l2-2.9c0,0,0.5-0.7,1-0.9h15.9C36,45.8,36.5,46.4,36.5,46.4z M55,32.4  c-0.2-0.8-0.2-1-0.2-1L52,30.8l-0.3-2.9L49.4,27l-2.5,1.8c0,0-1.7-1-3-2.4c-1.3-1.4-2.4-2.8-2.4-2.8l1.7-2.7l-0.9-2l-3.2-0.3  c0,0-0.4-2.2-0.5-3c-0.1-0.9,0-2.3,0-2.3c-2.4-0.1-6.5-0.2-11.3-0.2c-8.3,0-13,0.4-13,0.4s-1.6,0.1-3.2,2c-0.7,0.8-2.5,3.5-4.1,6.1  c-1,0-3.5,0.5-3.9,0.8c-0.5,0.5-0.7,2.5-0.6,2.7c0,0.1,1,0.2,2,0.3c-0.9,1.4-1.5,2.4-1.5,2.4s-2.5,3.1-2.9,4.6  c-0.4,1.2,0.1,11.6,0.2,14.8v4.4c0,0.6,0.6,1.1,1.2,1.1h4.9c0.6,0,1.1-0.5,1.1-1.1v-3.4H14l2.5-3.6c0,0,0.8-1.1,1.5-1.2  c0.7-0.1,18.5-0.1,19.1,0c0.7,0.1,1.5,1.2,1.5,1.2l2.5,3.6h6.4v3.4c0,0.6,0.5,1.1,1.2,1.1h4.9c0.6,0,1.1-0.5,1.1-1.1v-3.5  C54.8,47,55.3,33.8,55,32.4z M5.6,36.2c0,0-1.1-0.3-1.4-1c-0.2-0.7,0-3.1,0-3.1s0.5-1.2,1.3-1.6c0.9-0.4,1.8,0,1.8,0l4.1,2.5l1,4.5  L5.6,36.2z M27.6,39.7C27.6,39.7,27.5,39.7,27.6,39.7C27.6,39.7,27.6,39.7,27.6,39.7z M30.1,35.2h11.7c-0.1,0.4-0.2,0.7-0.4,1L30,37  c-0.2,0.5-0.5,0.8-0.9,1.1l11.8-0.8c-0.3,0.4-0.6,0.7-0.9,0.9c-1.2,0.6-11.8,1.5-12.4,1.5c-0.6,0-11.3-0.9-12.4-1.5  c-0.3-0.2-0.6-0.5-0.8-0.9L26,38.1c-0.4-0.3-0.7-0.7-0.9-1.1l-11.4-0.7c-0.2-0.4-0.3-0.7-0.4-1H25c0.1-0.4,0.4-0.8,0.7-1.1H13.2  c0-0.1,0-0.1,0-0.2C13.3,33.2,14,33,14,33l13.5-0.8L41.1,33c0,0,0.7,0.1,0.9,0.9c0,0,0,0.1,0,0.2H29.5C29.8,34.4,30,34.7,30.1,35.2z   M51,35.2c-0.2,0.7-1.4,1-1.4,1l-6.8,1.2l1-4.5l4.1-2.5c0,0,0.9-0.4,1.8,0c0.9,0.4,1.3,1.6,1.3,1.6S51.3,34.5,51,35.2z"></path>
</svg><span class="txt">Конфигурировать</span></a></div>

      </li>
      <% end %>
      
      <% end %>
  </ul>
<div class="brands">
  <h2 class="brand_title">Официальный дилер</h2>
<% Brand.all.each do |i| %>
    <a href="/course_work/brand_view?id=<%= i.id %>" title="<%= i.name %>">
  <% if i.logo != 'nologo' %>
    <%= image_tag i.logo, class: 'logo_brand' %>
  <% else %>
    <%= image_tag 'logos/nologo.png', class: 'logo_brand' %>
  <% end %>
    </a>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slick({
      autoplay: true,
      arrows: false,
      dots: true,
      pauseOnHover: false
    });
  });
</script>